/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;

$appColors: (
	'success': map-get(mat.$green-palette, "A700"),
	'warning': map-get(mat.$yellow-palette, 800),
	'error': map-get(mat.$red-palette, 800),
);

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

button[mat-raised-button],
button[mat-stroked-button],
button[mat-flat-button] {
	min-width: 110px;
}

.btn-secondary[mat-stroked-button] {
	border-color: map-get(mat.$green-palette, "A200");
}

.mat-snack-bar-container {
	background-color: map-get(mat.$grey-palette, 800);

	&.success {
		color: map-get($appColors, 'success');
	}

	&.warning {
		color: map-get($appColors, 'warning');
	}

	&.error {
		color: map-get($appColors, 'error');
	}
}
